* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: #af7c5e;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #a780e7;
  color: #ffffff;
  border-bottom: 15px solid #ffe6f5;
}

.Gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.Gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.Gallery::after {
  content: "";
  width: 350px;
}

